{% extends "layout.html" %}

{% block app_content %}
       
  <div class="hero-image">
    <div class="hero-text">
      <h1 id="hero-h1">MealBot</h1>
      <p>Automate your meals</p>
      <button>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('register') }}">Get started</a>
        {% else %}
        <a href="{{ url_for('addmeal') }}">Get started</a>
        {% endif %}
      </button>
    </div>
  </div>
  <div class="center">
    <h2 class="about">About MealBot</h2>
    <p class="about">After moving to Sydney, Australia my fiance and I started cooking nearly every night. We've been trying new recipes with fresh ingredients - it's been great.</p>
    <p class="about">But, during one trip to the grocery store, it dawned on me how much time out of our days we spend finding recipes, planning meals and searching for the right ingredients. In choosing what to cook, we would default to our usual go-to's because it was easy.</p>
    <h4 class="about">There had to be a better way</h4>
    <p class="about">That's when I came up with the idea for MealBot. What if I could build an app that would keep track of our recipes, select different recipes for us to cook each week, and even generate a shopping list! That's the goal of MealBot. Enjoy!</p>
  </div>
{% endblock %}