{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}

  <div class="clr"></div>
  <div class="container-2">
    <h1>Your Meals</h1>
    <div class="container-meal">
      <a href="http://smilesandwich.com/2017/01/24/whole-wheat-breakfast-burritos/" target="_blank">Whole Wheat Breakfast Burrito  -  breakfast</a>
      <div class="container-img right">
        <img src="static/images/Breakfast-Burritos.jpg">
      </div>
    </div>
    <div class="container-meal">
      <a href="http://www.eatingwell.com/recipe/267768/chicken-spinach-skillet-pasta-with-lemon-parmesan/" target="_blank">Chicken Spinach Skillet Pasta  -  pasta</a>
      <div class="container-img right">
        <img src="static/images/chickenspinachskilletpasta.jpg">
      </div>
    </div>
    <div class="container-meal">
      <a href="https://www.taste.com.au/recipes/hearty-beef-casserole/ab1844c9-ef8e-41d6-8624-33cf04921822" target="_blank">Hearty Beef Casserole  -  meat</a>
      <div class="container-img right">
        <img src="static/images/heartybeefcasserole.png">
      </div>
    </div>
  </div>
{% endblock %}






