{% extends "layout.html" %}

{% block app_content %}

<h1>{{ recipe.title }}  
  {% if not current_user.likes_recipe(recipe) %}
  <a href="{{ url_for('like_recipe', title=recipe.title) }}" title="Add Recipe"><span class="glyphicon glyphicon-heart-empty"></span></a>
  {% else %}
  <a href="{{ url_for('unlike_recipe', title=recipe.title) }}" title="Remove Recipe"><span class="glyphicon glyphicon-heart"></span></a>
  {% endif %}
</h1>
<h5>Ready in: {{ recipe.rdy_in_minutes }} minutes | Serves: {{ recipe.servings }}</h5>
  <div class="row">
    <div class="col-md-6">
      <a href="{{ recipe.url }}" target="_blank" title="Go to original website">
        <img src="{{ recipe.image_url }}" class="img-rounded img-responsive">
      </a>
    </div>
    <div class="col-md-6 recipe-list">
      <ul>
      {% for ingredient in recipe.ingredients %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-8 recipe-list">  
      <ol>
        {% for step in recipe.steps %}
      <li>{{ step }}</li>
      {% endfor %}
      </ol>
    </div>
  </div>
  




{% endblock %}